/* ---------------- */
/* CSS Reset style */
/* ---------------- */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* setup the body */
body {
  font-family: var(--ff-poppins);
  font-size: var(--fs-500);
  font-weight: var(--regular);
  background-color: var(--clr-whith);
  color: var(--clr-dark1);
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
picture,
figure,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--regular);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Make image easy to work with*/
img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

/* Make font element ease to work with */

input,
button,
select,
textarea {
  font: inherit;
  color: inherit;
}

/* ----------------- */
/* CSS Conston Value */
/* ----------------- */

:root {
  /* font size here */
  --fs-900: clamp(1.75em, 4vw, 3.25rem);
  --fs-800: clamp(1rem, 4vw, 2.375rem);
  --fs-700: clamp(1rem, 4vw, 1.75rem);
  --fs-600: clamp(1rem, 4vw, 1.5rem);
  --fs-500: clamp(0.875rem, 4vw, 1rem);
  --fs-400: 0.875rem;

  /* font weight */
  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;

  /* font family */
  --ff-poppins: "Poppins", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --ff-manrope: "Manrope", sans-serif;

  /* color here */
  --clr-dark1: rgba(0, 0, 0, 0.87);
  --clr-dark2: rgba(58, 58, 58, 1);
  --clr-dark3: rgba(117, 117, 117, 1);
  --clr-dark4: rgba(10, 8, 38, 1);
  --clr-dark5: rgba(120, 120, 133, 1);
  --clr-dark6: rgba(108, 108, 108, 1);
  --clr-whith: rgba(255, 255, 255, 1);
  --clr-light: rgba(224, 44, 109, 1);
}

/* shared style  */

.header-container {
  max-width: 1240px;
  margin: 0 auto;
  width: 90%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  border: 1px solid black;
}

.product-container {
  max-width: 1047px;
  margin: 0 auto;
  border: 1px solid teal;
}

/* --------------------- */
/* Utility fast approse */
/* --------------------- */

.flx {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Easy for font size style */

.fs-1 {
  font-size: var(--fs-900);
}

.fs-2 {
  font-size: var(--fs-800);
}

.fs-3 {
  font-size: var(--fs-700);
}

.fs-4 {
  font-size: var(--fs-600);
}

.fs-5 {
  font-size: var(--fs-500);
}

.fs-6 {
  font-size: var(--fs-400);
}

/* Easy for font weight style */

.fw-1 {
  font-weight: var(--bold);
}

.fw-2 {
  font-weight: var(--semibold);
}

.fw-3 {
  font-weight: var(--medium);
}

.fw-4 {
  font-weight: var(--regular);
}

/* Easy for work font family style */

.ff-poppins {
  font-family: var(--ff-poppins);
}

.ff-inter {
  font-family: var(--ff-inter);
}

.ff-manrope {
  font-family: var(--ff-manrope);
}

.btn-primary {
  padding: 0.8rem 1.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--clr-whith);
  background-color: var(--clr-light);
  border-radius: 41px;
}

/* Easy fon color style */

.clr-1 {
  color: var(--clr-dark1);
}
.clr-2 {
  color: var(--clr-dark2);
}
.clr-3 {
  color: var(--clr-dark3);
}

/* nav related style start */
nav {
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav-menu--list {
  --gap: 2.1rem;
}

#side-shoping-card,
#side-menu-bar {
  display: none;
}

/* nav related style end */

/* Hero related style start */
#hero {
  margin: 3rem 0 4.375rem;
  align-items: center;
}

.hero-content-container {
  max-width: 582px;
  margin: 0 auto;
}

.hero-content-container > * + * {
  margin-top: 1rem;
}

.hero-image-container {
  max-width: 475px;
  margin: 0 auto;
  position: relative;
}

.hero-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* Hero related style end */

/* sponscer related style start */
#sponscer {
  max-width: 986px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  padding: 32px 61px;
  box-shadow: 0 5px 14px 0 #0001, 0 0 0 transparent, 0 5px 14px 0 #0001,
    0 0 0 0 transparent;
  border-radius: 15px;
}

.sponscer-item {
  max-width: 3.4375rem;
  margin: 0 auto;
}

/* sponscer related style end */

/* --------------------- */
/* Responsive style part */
/* --------------------- */
@media screen and (max-width: 576px) {
  /* navigation style */
  nav {
    padding: 1rem 0;
  }
  .nav-menu--list {
    display: none;
  }

  #side-shoping-card,
  #side-menu-bar {
    display: block;
  }

  /* hero style  */

  .hero-content-container {
    text-align: center;
  }

  /* sponscer style */
  #sponscer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 30px;
  }

  /* hero style */
  #hero {
    flex-direction: column-reverse;
    margin-bottom: 3.125rem;
  }

  .hero-image-container {
    max-width: 257px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Navigation style */
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* Hero style */

  #hero {
    flex-direction: column-reverse;
    margin-bottom: 3.7rem;
  }

  .hero-content-container {
    text-align: center;
  }

  .hero-image-container {
    max-width: 357px;
  }

  /* sponsor style */
  #sponscer {
    padding: 30px 40px;
  }
}

.suvo {
  margin-bottom: 150px;
}
